#TORCH
pip install torch==2.1.0

#MMCV: https://mmcv.readthedocs.io/en/latest/get_started/installation.html
pip install mmcv==2.1.0 -f https://download.openmmlab.com/mmcv/dist/cu121/torch2.1/index.html #(con cuda 12.1)

#MMDETECTION
git clone https://github.com/open-mmlab/mmdetection.git
cd mmdetection
pip install -v -e .
